:root{
    --hijau: #dde0a1;
    --coklat: #7f4a23;
    --pink: #f18c8b;
    --hitam: #0a0a0a;
    --putih: #ffffff;
    --bayangan: 0 2px 2px rgb(0 0 0 / 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'Work-Sans', sans-serif;
    /* min-height: 4000px; */
}


/* BACKGROUND DENGAN GAMBAR, PASTIKAN HAPUS "background-color: var(--hijau);" */
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero{
    min-height: 100vh;
    /* background-color: var(--hijau); */
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--bayangan);
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4;
}

.hero a {
    color: var(--putih);
    background-color: var(--pink);
}

.hero a:hover{
    color: var(--pink);
    background-color: var(--putih);
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

.home{
    min-height: 100vh;
    background-image: url(img/bg2op2.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.home h2 {
    color: var(--pink);
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: var(--bayangan);
}

.hero h3{
    color: var(--hitam);
    font-size: 1.5rem;
    margin-top: 1rem;
}

.hero p{
    color: var(--hitam);
    font-size: 1.1rem;
}

.home .couple {
    margin-top:  100px;
}

.home .couple h3 {
    font-family: 'Sacramento';
    font-size: 2.4rem;
    color: var(--pink);
}

.home .couple img{
    width: 100%;
}

.sticky-top {
    overflow: hidden;
}

.info {
    min-height: 100vh;
    background-color: var(--hitam);
    color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.info h2 {
    color: var(--pink);
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
}

.info .alamat {
    font-size: 1.1rem;
}

.info a {
    color: var(--putih);
    background-color: var(--pink);
}

.info a:hover{
    color: var(--pink);
    background-color: var(--putih);
}

.info .card {
    background-color: rgb(255 255 255 / 0.5) !important;
    color: var(--putih) !important;
    border: 1px solid white;
}

.info .card-header {
    border-bottom: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.gift {
    min-height: 100vh;
    background-color: var(--pink);
    color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.header-gift {
    color: var(--putih);
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: var(--bayangan);
}

.text-terimaksih{
    color: var(--putih);
    font-size: 2rem;
    text-shadow: var(--bayangan);
}

/* Media Query */

/* Desktop */
@media (max-width:992px){
    html{
        font-size: 75%;
    }
}

/* HP */
@media (max-width:576px){
    html{
        font-size: 60%;
    }
}
